In [1]:
import pandas as pd 
import numpy as np 

univ = ['SPY','TLT','VXX','QQQ']
dates = ['20210105','20210106','20210107','20210108','20210109']

In [2]:
earnings = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
ret_prev = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
pe = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)
analyst_est = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)

In [3]:
pe

               SPY       TLT       VXX       QQQ
20210105  0.360900  1.245730 -0.457611  0.100197
20210106 -0.413056 -0.161820 -0.187747  0.140069
20210107  0.240933  0.195412  1.095961 -0.224336
20210108 -2.448689 -1.464831  1.182993 -0.713982
20210109  1.407146 -0.072162 -0.078432 -0.667566

In [4]:
data = {}
data['earnings']=earnings
data['ret_prev']=ret_prev
data['pe']=pe
data['analyst_est']=analyst_est

In [5]:
multi = pd.concat(data)
multi

                           SPY       TLT       VXX       QQQ
earnings    20210105  0.027917  0.997937 -0.813769  1.427540
            20210106 -2.508643 -0.955644  0.148005  1.389984
            20210107  0.776489 -0.217345 -0.798040  0.133415
            20210108  0.282424 -0.884986  0.046271  0.145123
            20210109 -0.826999  0.566471  2.485849  0.204731
ret_prev    20210105  0.417888  1.398934 -0.443163  1.199215
            20210106  1.204926  0.362746 -1.818578  0.197606
            20210107 -1.569208  0.141109 -0.195729  1.945500
            20210108  0.370359  1.688694  1.257109  0.543659
            20210109  0.211030 -0.630121  0.152533  0.697834
pe          20210105  0.360900  1.245730 -0.457611  0.100197
            20210106 -0.413056 -0.161820 -0.187747  0.140069
            20210107  0.240933  0.195412  1.095961 -0.224336
            20210108 -2.448689 -1.464831  1.182993 -0.713982
            20210109  1.407146 -0.072162 -0.078432 -0.667566
analyst_est 20210105  0.853645 -0.327806 -0.849994 -0.901581
            20210106 -0.389263 -0.252517  0.722480  0.334567
            20210107 -0.457811  0.846454 -1.187873 -1.526764
            20210108 -1.531211 -0.984030 -0.749255  1.768825
            20210109 -0.449169 -1.935268  0.120385 -0.003290

In [6]:
multi.loc['pe']

               SPY       TLT       VXX       QQQ
20210105  0.360900  1.245730 -0.457611  0.100197
20210106 -0.413056 -0.161820 -0.187747  0.140069
20210107  0.240933  0.195412  1.095961 -0.224336
20210108 -2.448689 -1.464831  1.182993 -0.713982
20210109  1.407146 -0.072162 -0.078432 -0.667566

In [7]:
multi.loc['ret_prev':'analyst_est']

                           SPY       TLT       VXX       QQQ
ret_prev    20210105  0.417888  1.398934 -0.443163  1.199215
            20210106  1.204926  0.362746 -1.818578  0.197606
            20210107 -1.569208  0.141109 -0.195729  1.945500
            20210108  0.370359  1.688694  1.257109  0.543659
            20210109  0.211030 -0.630121  0.152533  0.697834
pe          20210105  0.360900  1.245730 -0.457611  0.100197
            20210106 -0.413056 -0.161820 -0.187747  0.140069
            20210107  0.240933  0.195412  1.095961 -0.224336
            20210108 -2.448689 -1.464831  1.182993 -0.713982
            20210109  1.407146 -0.072162 -0.078432 -0.667566
analyst_est 20210105  0.853645 -0.327806 -0.849994 -0.901581
            20210106 -0.389263 -0.252517  0.722480  0.334567
            20210107 -0.457811  0.846454 -1.187873 -1.526764
            20210108 -1.531211 -0.984030 -0.749255  1.768825
            20210109 -0.449169 -1.935268  0.120385 -0.003290

In [8]:
multi.loc[('ret_prev','20210107'),['SPY','TLT']]

SPY   -1.569208
TLT    0.141109
Name: (ret_prev, 20210107), dtype: float64

In [9]:
ser = multi['SPY']
ser

earnings     20210105    0.027917
             20210106   -2.508643
             20210107    0.776489
             20210108    0.282424
             20210109   -0.826999
ret_prev     20210105    0.417888
             20210106    1.204926
             20210107   -1.569208
             20210108    0.370359
             20210109    0.211030
pe           20210105    0.360900
             20210106   -0.413056
             20210107    0.240933
             20210108   -2.448689
             20210109    1.407146
analyst_est  20210105    0.853645
             20210106   -0.389263
             20210107   -0.457811
             20210108   -1.531211
             20210109   -0.449169
Name: SPY, dtype: float64

In [10]:
ser['pe']

20210105    0.360900
20210106   -0.413056
20210107    0.240933
20210108   -2.448689
20210109    1.407146
Name: SPY, dtype: float64

In [11]:
# unstack a multindex series into a dataframe
ser.unstack(level=0)

          earnings  ret_prev        pe  analyst_est
20210105  0.027917  0.417888  0.360900     0.853645
20210106 -2.508643  1.204926 -0.413056    -0.389263
20210107  0.776489 -1.569208  0.240933    -0.457811
20210108  0.282424  0.370359 -2.448689    -1.531211
20210109 -0.826999  0.211030  1.407146    -0.449169

In [12]:
ser.unstack(level=0).stack()

20210105  earnings       0.027917
          ret_prev       0.417888
          pe             0.360900
          analyst_est    0.853645
20210106  earnings      -2.508643
          ret_prev       1.204926
          pe            -0.413056
          analyst_est   -0.389263
20210107  earnings       0.776489
          ret_prev      -1.569208
          pe             0.240933
          analyst_est   -0.457811
20210108  earnings       0.282424
          ret_prev       0.370359
          pe            -2.448689
          analyst_est   -1.531211
20210109  earnings      -0.826999
          ret_prev       0.211030
          pe             1.407146
          analyst_est   -0.449169
dtype: float64

In [13]:
multi = pd.concat(data,1)

In [14]:
multi

          earnings                                ret_prev            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105  0.027917  0.997937 -0.813769  1.427540  0.417888  1.398934
20210106 -2.508643 -0.955644  0.148005  1.389984  1.204926  0.362746
20210107  0.776489 -0.217345 -0.798040  0.133415 -1.569208  0.141109
20210108  0.282424 -0.884986  0.046271  0.145123  0.370359  1.688694
20210109 -0.826999  0.566471  2.485849  0.204731  0.211030 -0.630121

                                    pe                                \
               VXX       QQQ       SPY       TLT       VXX       QQQ
20210105 -0.443163  1.199215  0.360900  1.245730 -0.457611  0.100197
20210106 -1.818578  0.197606 -0.413056 -0.161820 -0.187747  0.140069
20210107 -0.195729  1.945500  0.240933  0.195412  1.095961 -0.224336
20210108  1.257109  0.543659 -2.448689 -1.464831  1.182993 -0.713982
20210109  0.152533  0.697834  1.407146 -0.072162 -0.078432 -0.667566

         analyst_est
                 SPY       TLT       VXX       QQQ
20210105    0.853645 -0.327806 -0.849994 -0.901581
20210106   -0.389263 -0.252517  0.722480  0.334567
20210107   -0.457811  0.846454 -1.187873 -1.526764
20210108   -1.531211 -0.984030 -0.749255  1.768825
20210109   -0.449169 -1.935268  0.120385 -0.003290

In [15]:
# indexing
multi['pe']

               SPY       TLT       VXX       QQQ
20210105  0.360900  1.245730 -0.457611  0.100197
20210106 -0.413056 -0.161820 -0.187747  0.140069
20210107  0.240933  0.195412  1.095961 -0.224336
20210108 -2.448689 -1.464831  1.182993 -0.713982
20210109  1.407146 -0.072162 -0.078432 -0.667566

In [16]:
multi[['pe','earnings']]

                pe                                earnings            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105  0.360900  1.245730 -0.457611  0.100197  0.027917  0.997937
20210106 -0.413056 -0.161820 -0.187747  0.140069 -2.508643 -0.955644
20210107  0.240933  0.195412  1.095961 -0.224336  0.776489 -0.217345
20210108 -2.448689 -1.464831  1.182993 -0.713982  0.282424 -0.884986
20210109  1.407146 -0.072162 -0.078432 -0.667566 -0.826999  0.566471


               VXX       QQQ
20210105 -0.813769  1.427540
20210106  0.148005  1.389984
20210107 -0.798040  0.133415
20210108  0.046271  0.145123
20210109  2.485849  0.204731

In [17]:
# rearrange axes
multi.swaplevel(0,1,1)

,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ
,earnings,earnings,earnings,earnings,ret_prev,ret_prev,ret_prev,ret_prev,pe,pe,pe,pe,analyst_est,analyst_est,analyst_est,analyst_est
20210105,0.027917,0.997937,-0.813769,1.427540,0.417888,1.398934,-0.443163,1.199215,0.360900,1.245730,-0.457611,0.100197,0.853645,-0.327806,-0.849994,-0.901581
20210106,-2.508643,-0.955644,0.148005,1.389984,1.204926,0.362746,-1.818578,0.197606,-0.413056,-0.161820,-0.187747,0.140069,-0.389263,-0.252517,0.722480,0.334567
20210107,0.776489,-0.217345,-0.798040,0.133415,-1.569208,0.141109,-0.195729,1.945500,0.240933,0.195412,1.095961,-0.224336,-0.457811,0.846454,-1.187873,-1.526764
20210108,0.282424,-0.884986,0.046271,0.145123,0.370359,1.688694,1.257109,0.543659,-2.448689,-1.464831,1.182993,-0.713982,-1.531211,-0.984030,-0.749255,1.768825
20210109,-0.826999,0.566471,2.485849,0.204731,0.211030,-0.630121,0.152533,0.697834,1.407146,-0.072162,-0.078432,-0.667566,-0.449169,-1.935268,0.120385,-0.003290

In [18]:
multi.swaplevel(0,1,1).sort_index(1)

                 QQQ                                       SPY            \
         analyst_est  earnings        pe  ret_prev analyst_est  earnings
20210105   -0.901581  1.427540  0.100197  1.199215    0.853645  0.027917
20210106    0.334567  1.389984  0.140069  0.197606   -0.389263 -2.508643
20210107   -1.526764  0.133415 -0.224336  1.945500   -0.457811  0.776489
20210108    1.768825  0.145123 -0.713982  0.543659   -1.531211  0.282424
20210109   -0.003290  0.204731 -0.667566  0.697834   -0.449169 -0.826999

                                     TLT                                \
                pe  ret_prev analyst_est  earnings        pe  ret_prev
20210105  0.360900  0.417888   -0.327806  0.997937  1.245730  1.398934
20210106 -0.413056  1.204926   -0.252517 -0.955644 -0.161820  0.362746
20210107  0.240933 -1.569208    0.846454 -0.217345  0.195412  0.141109
20210108 -2.448689  0.370359   -0.984030 -0.884986 -1.464831  1.688694
20210109  1.407146  0.211030   -1.935268  0.566471 -0.072162 -0.630121

                 VXX
         analyst_est  earnings        pe  ret_prev
20210105   -0.849994 -0.813769 -0.457611 -0.443163
20210106    0.722480  0.148005 -0.187747 -1.818578
20210107   -1.187873 -0.798040  1.095961 -0.195729
20210108   -0.749255  0.046271  1.182993  1.257109
20210109    0.120385  2.485849 -0.078432  0.152533

In [19]:
# sum across an axis
multi.sum(axis=1,level=0)

          earnings  ret_prev        pe  analyst_est
20210105  1.639625  2.572874  1.249216    -1.225737
20210106 -1.926297 -0.053300 -0.622554     0.415266
20210107 -0.105480  0.321673  1.307971    -2.325994
20210108 -0.411167  3.859821 -3.444509    -1.495671
20210109  2.430052  0.431277  0.588986    -2.267342

In [20]:
# standard pandas functions produce multi-index series
multi.mean()

earnings     SPY   -0.449762
             TLT   -0.098713
             VXX    0.213663
             QQQ    0.660159
ret_prev     SPY    0.126999
             TLT    0.592273
             VXX   -0.209566
             QQQ    0.916763
pe           SPY   -0.170553
             TLT   -0.051534
             VXX    0.311033
             QQQ   -0.273124
analyst_est  SPY   -0.394762
             TLT   -0.530634
             VXX   -0.388851
             QQQ   -0.065649
dtype: float64

In [21]:
multi.mean().unstack(level=1)

                  SPY       TLT       VXX       QQQ
earnings    -0.449762 -0.098713  0.213663  0.660159
ret_prev     0.126999  0.592273 -0.209566  0.916763
pe          -0.170553 -0.051534  0.311033 -0.273124
analyst_est -0.394762 -0.530634 -0.388851 -0.065649