In [1]:
import pandas as pd 
import numpy as np 

univ = ['SPY','TLT','VXX','QQQ']
dates = ['20210105','20210106','20210107','20210108','20210109']

In [2]:
earnings = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
ret_prev = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
pe = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)
analyst_est = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)

In [3]:
pe

               SPY       TLT       VXX       QQQ
20210105  0.275898 -0.230879  0.637266 -0.195477
20210106 -0.445255  0.103994 -1.095894 -0.485653
20210107  0.784970 -0.300939  0.248646  1.683065
20210108  0.282320  0.697247  1.273272 -0.280576
20210109  1.841752 -0.432276  1.414595  0.073413

In [4]:
data = {}
data['earnings']=earnings
data['ret_prev']=ret_prev
data['pe']=pe
data['analyst_est']=analyst_est

In [6]:
multi = pd.concat(data)
multi

                           SPY       TLT       VXX       QQQ
earnings    20210105  0.081383  0.862444  1.081852 -1.953767
            20210106 -1.242114  0.651276 -0.900574  0.549930
            20210107  0.588063 -0.175329 -0.507396  1.872321
            20210108  0.180908 -0.817487 -0.846619 -0.392409
            20210109 -0.114429  0.270216  1.024779  0.419249
ret_prev    20210105  0.163809  0.144486  0.889864 -0.078926
            20210106 -0.106884 -0.399608  2.514541 -1.656418
            20210107  0.249658  1.927134  1.243352  0.725036
            20210108 -0.759879 -0.846231 -0.761763 -0.993918
            20210109  0.787550  0.300930 -0.585017 -0.965583
pe          20210105  0.275898 -0.230879  0.637266 -0.195477
            20210106 -0.445255  0.103994 -1.095894 -0.485653
            20210107  0.784970 -0.300939  0.248646  1.683065
            20210108  0.282320  0.697247  1.273272 -0.280576
            20210109  1.841752 -0.432276  1.414595  0.073413
analyst_est 20210105 -0.037731 -0.809453  0.361939  0.505586
            20210106  0.760447  1.561850 -0.137170 -0.101826
            20210107  0.606410  0.569721 -0.194949 -0.292059
            20210108 -0.779570  0.686332 -1.361639  0.302173
            20210109 -0.082338  0.326118 -1.101656  0.030405

In [7]:
multi.loc['pe']

               SPY       TLT       VXX       QQQ
20210105  0.275898 -0.230879  0.637266 -0.195477
20210106 -0.445255  0.103994 -1.095894 -0.485653
20210107  0.784970 -0.300939  0.248646  1.683065
20210108  0.282320  0.697247  1.273272 -0.280576
20210109  1.841752 -0.432276  1.414595  0.073413

In [8]:
multi.loc['ret_prev':'analyst_est']

                           SPY       TLT       VXX       QQQ
ret_prev    20210105  0.163809  0.144486  0.889864 -0.078926
            20210106 -0.106884 -0.399608  2.514541 -1.656418
            20210107  0.249658  1.927134  1.243352  0.725036
            20210108 -0.759879 -0.846231 -0.761763 -0.993918
            20210109  0.787550  0.300930 -0.585017 -0.965583
pe          20210105  0.275898 -0.230879  0.637266 -0.195477
            20210106 -0.445255  0.103994 -1.095894 -0.485653
            20210107  0.784970 -0.300939  0.248646  1.683065
            20210108  0.282320  0.697247  1.273272 -0.280576
            20210109  1.841752 -0.432276  1.414595  0.073413
analyst_est 20210105 -0.037731 -0.809453  0.361939  0.505586
            20210106  0.760447  1.561850 -0.137170 -0.101826
            20210107  0.606410  0.569721 -0.194949 -0.292059
            20210108 -0.779570  0.686332 -1.361639  0.302173
            20210109 -0.082338  0.326118 -1.101656  0.030405

In [9]:
multi.loc[('ret_prev','20210107'),['SPY','TLT']]

SPY    0.249658
TLT    1.927134
Name: (ret_prev, 20210107), dtype: float64

In [10]:
ser = multi['SPY']
ser

earnings     20210105    0.081383
             20210106   -1.242114
             20210107    0.588063
             20210108    0.180908
             20210109   -0.114429
ret_prev     20210105    0.163809
             20210106   -0.106884
             20210107    0.249658
             20210108   -0.759879
             20210109    0.787550
pe           20210105    0.275898
             20210106   -0.445255
             20210107    0.784970
             20210108    0.282320
             20210109    1.841752
analyst_est  20210105   -0.037731
             20210106    0.760447
             20210107    0.606410
             20210108   -0.779570
             20210109   -0.082338
Name: SPY, dtype: float64

In [11]:
ser['pe']

20210105    0.275898
20210106   -0.445255
20210107    0.784970
20210108    0.282320
20210109    1.841752
Name: SPY, dtype: float64

In [12]:
# unstack a multindex series into a dataframe
ser.unstack(level=0)

          earnings  ret_prev        pe  analyst_est
20210105  0.081383  0.163809  0.275898    -0.037731
20210106 -1.242114 -0.106884 -0.445255     0.760447
20210107  0.588063  0.249658  0.784970     0.606410
20210108  0.180908 -0.759879  0.282320    -0.779570
20210109 -0.114429  0.787550  1.841752    -0.082338

In [13]:
ser.unstack(level=0).stack()

20210105  earnings       0.081383
          ret_prev       0.163809
          pe             0.275898
          analyst_est   -0.037731
20210106  earnings      -1.242114
          ret_prev      -0.106884
          pe            -0.445255
          analyst_est    0.760447
20210107  earnings       0.588063
          ret_prev       0.249658
          pe             0.784970
          analyst_est    0.606410
20210108  earnings       0.180908
          ret_prev      -0.759879
          pe             0.282320
          analyst_est   -0.779570
20210109  earnings      -0.114429
          ret_prev       0.787550
          pe             1.841752
          analyst_est   -0.082338
dtype: float64

In [15]:
multi = pd.concat(data)

In [16]:
multi

                           SPY       TLT       VXX       QQQ
earnings    20210105  0.081383  0.862444  1.081852 -1.953767
            20210106 -1.242114  0.651276 -0.900574  0.549930
            20210107  0.588063 -0.175329 -0.507396  1.872321
            20210108  0.180908 -0.817487 -0.846619 -0.392409
            20210109 -0.114429  0.270216  1.024779  0.419249
ret_prev    20210105  0.163809  0.144486  0.889864 -0.078926
            20210106 -0.106884 -0.399608  2.514541 -1.656418
            20210107  0.249658  1.927134  1.243352  0.725036
            20210108 -0.759879 -0.846231 -0.761763 -0.993918
            20210109  0.787550  0.300930 -0.585017 -0.965583
pe          20210105  0.275898 -0.230879  0.637266 -0.195477
            20210106 -0.445255  0.103994 -1.095894 -0.485653
            20210107  0.784970 -0.300939  0.248646  1.683065
            20210108  0.282320  0.697247  1.273272 -0.280576
            20210109  1.841752 -0.432276  1.414595  0.073413
analyst_est 20210105 -0.037731 -0.809453  0.361939  0.505586
            20210106  0.760447  1.561850 -0.137170 -0.101826
            20210107  0.606410  0.569721 -0.194949 -0.292059
            20210108 -0.779570  0.686332 -1.361639  0.302173
            20210109 -0.082338  0.326118 -1.101656  0.030405

In [21]:
# indexing
multi['pe']

KeyError: 'pe'

In [18]:
multi[['pe','earnings']]

KeyError: "None of [Index(['pe', 'earnings'], dtype='object')] are in the [columns]"

In [19]:
# rearrange axes
multi.swaplevel(0,1,1)

TypeError: Can only swap levels on a hierarchical axis.

In [20]:
multi.swaplevel(0,1,1).sort_index(1)

TypeError: Can only swap levels on a hierarchical axis.

In [19]:
# sum across an axis
multi.sum(axis=1,level=0)

          earnings  ret_prev        pe  analyst_est
20210105  1.639625  2.572874  1.249216    -1.225737
20210106 -1.926297 -0.053300 -0.622554     0.415266
20210107 -0.105480  0.321673  1.307971    -2.325994
20210108 -0.411167  3.859821 -3.444509    -1.495671
20210109  2.430052  0.431277  0.588986    -2.267342

In [20]:
# standard pandas functions produce multi-index series
multi.mean()

earnings     SPY   -0.449762
             TLT   -0.098713
             VXX    0.213663
             QQQ    0.660159
ret_prev     SPY    0.126999
             TLT    0.592273
             VXX   -0.209566
             QQQ    0.916763
pe           SPY   -0.170553
             TLT   -0.051534
             VXX    0.311033
             QQQ   -0.273124
analyst_est  SPY   -0.394762
             TLT   -0.530634
             VXX   -0.388851
             QQQ   -0.065649
dtype: float64

In [21]:
multi.mean().unstack(level=1)

                  SPY       TLT       VXX       QQQ
earnings    -0.449762 -0.098713  0.213663  0.660159
ret_prev     0.126999  0.592273 -0.209566  0.916763
pe          -0.170553 -0.051534  0.311033 -0.273124
analyst_est -0.394762 -0.530634 -0.388851 -0.065649