In [1]:
import yfinance as yf
import pandas as pd 
%matplotlib inline

univ = ['TSLA','SPY']
px = yf.download(univ, start="2021-01-01")['Adj Close']

[*********************100%***********************]  2 of 2 completed

In [3]:
px

Ticker                            SPY        TSLA
Date
2021-01-04 00:00:00+00:00  349.471649  243.256668
2021-01-05 00:00:00+00:00  351.878662  245.036667
2021-01-06 00:00:00+00:00  353.982330  251.993332
2021-01-07 00:00:00+00:00  359.241608  272.013336
2021-01-08 00:00:00+00:00  361.288513  293.339996
...                               ...         ...
2024-11-19 00:00:00+00:00  590.299988  346.000000
2024-11-20 00:00:00+00:00  590.500000  342.029999
2024-11-21 00:00:00+00:00  593.669983  339.640015
2024-11-22 00:00:00+00:00  595.510010  352.559998
2024-11-25 00:00:00+00:00  597.530029  338.589996

[981 rows x 2 columns]

In [4]:
def drawdown(px):
    return (px / px.expanding(min_periods=1).max() - 1)

In [7]:
dd = drawdown(px)

In [8]:
dd

Ticker                          SPY      TSLA
Date
2021-01-04 00:00:00+00:00  0.000000  0.000000
2021-01-05 00:00:00+00:00  0.000000  0.000000
2021-01-06 00:00:00+00:00  0.000000  0.000000
2021-01-07 00:00:00+00:00  0.000000  0.000000
2021-01-08 00:00:00+00:00  0.000000  0.000000
...                             ...       ...
2024-11-19 00:00:00+00:00 -0.014129 -0.156036
2024-11-20 00:00:00+00:00 -0.013795 -0.165719
2024-11-21 00:00:00+00:00 -0.008501 -0.171549
2024-11-22 00:00:00+00:00 -0.005428 -0.140035
2024-11-25 00:00:00+00:00 -0.002054 -0.174110

[981 rows x 2 columns]

In [10]:
dd.plot()

In [11]:
dd.min()

Ticker
SPY    -0.244964
TSLA   -0.736322
dtype: float64

In [12]:
def duration(px):
    
    peak = px.expanding(min_periods=1).max()
    res = pd.DataFrame(index=px.index,columns=px.columns)
    
    for col in px.columns:
        for dt in px.index:
            
            if px.loc[dt,col] >= peak.loc[dt,col]:
                 res.loc[dt,col] = 0
    
            else:    
                res.loc[dt,col] = res.loc[:dt,col].iloc[-2] + 1

    return res

In [13]:
ddd = duration(px)

In [14]:
ddd

Ticker                    SPY TSLA
Date
2021-01-04 00:00:00+00:00   0    0
2021-01-05 00:00:00+00:00   0    0
2021-01-06 00:00:00+00:00   0    0
2021-01-07 00:00:00+00:00   0    0
2021-01-08 00:00:00+00:00   0    0
...                        ..  ...
2024-11-19 00:00:00+00:00   6  764
2024-11-20 00:00:00+00:00   7  765
2024-11-21 00:00:00+00:00   8  766
2024-11-22 00:00:00+00:00   9  767
2024-11-25 00:00:00+00:00  10  768

[981 rows x 2 columns]

In [15]:
ddd.plot()

In [ ]:
ddd.max()